<div class="container-fluid widget-container" ng-controller="HomeCtrl">
    <div class="row">
        <div class="col-md-6 col-lg-6 widget">
            <div class="widget-inner" style="min-height: 550px; max-height: 550px;">
                <h3>Overall Equipment Effectiveness</h3>
                <hr>
                <div class="row">
                    <div class="col-sm-4" style="line-height: 35px;">OEE Period: </div>
                    <div class="col-sm-6">
                        <ol class="nya-bs-select"
                            ng-model="OEE.Period"
                            ng-change="periodChange()">
                            <li nya-bs-option="period in OEE.AvailablePeriods" ng-class="{disabled: period.available === false }">
                                <a>
                                    {{period.title}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 OEE">Availability</div>
                    <div class="col-sm-6 OEE">
                        <i ng-if="OEE.current.Availability < OEE.previous.Availability" class="fa fa-caret-down reveal-animation" aria-hidden="true" style="color:red;"></i>
                        <i ng-if="OEE.current.Availability > OEE.previous.Availability" class="fa fa-caret-up reveal-animation" aria-hidden="true" style="color:green;"></i>
                        <i ng-if="OEE.current.Availability === OEE.previous.Availability" class="fa fa-caret-right reveal-animation" aria-hidden="true" style="color:yellow;"></i>
                        {{OEE.current.Availability}}%
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 OEE">Performance</div>
                    <div class="col-sm-6 OEE">
                        <i ng-if="OEE.current.Performance < OEE.previous.Performance" class="fa fa-caret-down reveal-animation" aria-hidden="true" style="color:red;"></i>
                        <i ng-if="OEE.current.Performance > OEE.previous.Performance" class="fa fa-caret-up reveal-animation" aria-hidden="true" style="color:green;"></i>
                        <i ng-if="OEE.current.Performance === OEE.previous.Performance" class="fa fa-caret-right reveal-animation" aria-hidden="true" style="color:yellow;"></i>
                        {{OEE.current.Performance}}%
                    </div>
                </div>
                <div class="row" style="padding-bottom: 15px;">
                    <div class="col-sm-4 OEE">Quality</div>
                    <div class="col-sm-6 OEE">
                        <i class="fa fa-caret-right reveal-animation" aria-hidden="true" style="color:yellow;"></i>
                        {{OEE.current.Quality}}%
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-bottom: 15px;">
                    <div class="col-sm-4 OEE">OEE</div>
                    <div class="col-sm-6 OEE">
                        <i ng-if="OEE.current.OEE < OEE.previous.OEE" class="fa fa-caret-down reveal-animation" aria-hidden="true" style="color:red;"></i>
                        <i ng-if="OEE.current.OEE > OEE.previous.OEE" class="fa fa-caret-up reveal-animation" aria-hidden="true" style="color:green;"></i>
                        <i ng-if="OEE.current.OEE === OEE.previous.OEE" class="fa fa-caret-right reveal-animation" aria-hidden="true" style="color:yellow;"></i>
                        {{OEE.current.OEE}}%
                    </div>
                </div>
                <hr>

                <div class="row" style="margin: 20px 0 5px 0;">
                    <div class="col-sm-4" style="line-height: 20px;">Target Count: </div>
                    <div class="col-sm-6" style="line-height: 20px;">{{OEE.targetCount}}</div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-sm-4" style="line-height: 20px;">Total Count: </div>
                    <div class="col-sm-6" style="line-height: 20px;">{{OEE.totalCount}}</div>
                </div>
                <div class="row" style="margin-bottom:5px;" ng-repeat="timer in OEE.timers">
                    <div class="col-sm-4" style="line-height: 20px;">{{timer.title}}:</div>
                    <div class="col-sm-6" style="line-height: 20px;">
                        {{timer.display}}
                    </div>
                </div>

                <br>
                <div class="col-sm-5 pull-right"><a ng-click="advancedSettings();">Advanced settings...</a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 widget">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-inner" style="min-height: 265px; max-height: 265px;">
                        <h3>MES Server</h3>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6" style="color: #ccc;">
                                <h4>Previous Order</h4>
                                <ul ng-repeat="item in MES.order.previous">
                                    <li>{{item.type}}{{(item.amount !== 1 ? 's' : '')}}: {{item.amount}}</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <h4>Current Order</h4>
                                <ul ng-repeat="item in MES.order.current">
                                    <li>{{item.type}}{{(item.amount !== 1 ? 's' : ' ')}}: {{item.amount}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-inner" style="min-height: 265px; max-height: 265px;">
                        <h3>System Controls</h3>
                        <button ng-click="systemIsDown();" class="btn btn-danger {{!systemIsRunning ? 'disabled' : ''}}">Stop</button> 
                        <button ng-click="systemRunning();" class="btn btn-success {{systemIsRunning ? 'disabled' : ''}}">Play</button> 
                        <button ng-click="systemIsDown();" class="btn btn-warning {{!systemIsRunning ? 'disabled' : ''}}">Pause</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
