<div class="switch">
    <input type="radio" class="switch-input" name="view" ng-model="content" ng-init="content = 'automatic'" value="automatic" id="automatic" checked>
    <label for="automatic" class="switch-label switch-label-off">Automatic</label>
    <input type="radio" class="switch-input" name="view" ng-model="content" value="manual" id="manual">
    <label for="manual" class="switch-label switch-label-on">Manual</label>
    <span class="switch-selection"></span>
</div>

<div ng-show="content == 'manual'" class="ngfade">
    <div ng-include="'routes/mr/mrmanual/mrmanual.template.html'"></div>
</div>


<div ng-show="content == 'automatic' || content == ''" class="ngfade">
    <div ng-include="'routes/mr/mroperation/mroperation.template.html'"></div>
</div>