<div class="container-fluid widget-container" ng-controller="RCOperationCtrl">
    <div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6 widget">
            <div class="widget-inner">
                <h3>System State</h3>
                <ul>
                    <li ng-repeat="state in systemStates track by $index">{{state}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 widget">
            <div class="widget-inner">
                <h3>System State</h3>
                <span ng-bind="states.current"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 widget">
            <div class="widget-inner">
                <h3>Robot State</h3>
            </div>
        </div>
        <div class="col-sm-6 widget">
            <div class="widget-inner">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>ROS Topics</h3>
                    </div>
                    <div class="col-sm-6" style="padding:16px 10px 0 0;">
                        <ol id="multipleSelection"
                            class="nya-bs-select"
                            ng-model="subscribedTopics"
                            ng-change ="updateTopics()"
                            actions-box="true"
                            data-selected-text-format="count>3"
                            data-live-search="true"
                            multiple>
                            <li nya-bs-option="topic in topics">
                                <a>
                                    {{topic.name}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                        <!--data-live-search="{{ isAndroid ? 'false' : 'true' }}"-->
                    </div>
                </div>
                <div class="widget-log" id="test"></div>
            </div>
        </div>
    </div>
        </div>
</div>