<h1>{{header}}</h1>
<p ng-bind-html="msg"></p>
<div ng-if="controls">
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Continue</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Abort</button>
    </div>
</div>