<h1>{{header}}</h1>
<p>We're currently validating that the needed ROS Services and Topics are advertised and published.</p>
<div class="row">
    <div class="col-sm-6">
        <h3>Services</h3>
        <ul ng-repeat="item in pSrv">
            <li>{{item}}</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>Topics</h3>
        <ul ng-repeat="item in pTpc">
            <li>{{item}}</li>
        </ul>
    </div>
</div>

<div class="icon icon--order-success svg reveal-animation" ng-if='validated && display' style='margin: 0 auto; width: 80px;'>
    <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
        <g fill="none" stroke="#8EC343" stroke-width="2">
            <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
            <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
        </g>
    </svg>
</div>

<div class='reveal-animation' ng-if='!validated && display'>
    <div class='row' style="margin-top: 20px;">
        <div class="col-sm-1" style="padding-top: 18px; margin-right: 20px;">
            <span class="label label-warning">Warning</span>
        </div>
        <div class="col-sm-10">
            <p>It seems that there's missing on or more ROS Services and/or topics. If you choose to proceed anyway, some functionality will be disabled as a result of this!</p>
        </div>
    </div>

    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Continue</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Abort</button>
    </div>
</div>