<h1>{{header}}</h1>
<p ng-bind-html="msg"></p>
<hr>
<div class="row" style="padding-bottom: 10px;">
    <div class="col-sm-6" style="line-height: 35px;">Target Count:</div>
    <div class="col-sm-6"><input ng-model="targetCount" type="number" min="0" step="10" class="form-control"></div>
</div>
<div class="row" style="padding-bottom: 10px;">
    <div class="col-sm-6" style="line-height: 35px;">Sample Rate:</div>
    <div class="col-sm-6">
        <ol id="singleSelection" class="nya-bs-select" ng-model="sampleRate">
            <li class="nya-bs-option" data-value="60000"><a>1 minute</a></li>
            <li class="nya-bs-option" data-value="300000"><a>5 minutes</a></li>
            <li class="nya-bs-option" data-value="600000"><a>10 minutes</a></li>
            <li class="nya-bs-option" data-value="900000"><a>15 minutes</a></li>
            <li class="nya-bs-option" data-value="1800000"><a>30 minutes</a></li>
            <li class="nya-bs-option" data-value="3600000"><a>1 hour</a></li>
            <li class="nya-bs-option" data-value="7200000"><a>2 hours</a></li>
            <li class="nya-bs-option" data-value="14400000"><a>4 hours</a></li>
            <li class="nya-bs-option" data-value="28800000"><a>8 hours</a></li>
            <li class="nya-bs-option" data-value="43200000"><a>12 hours</a></li>
            <li class="nya-bs-option" data-value="86400000"><a>24 hours</a></li>
        </ol>
    </div>
</div>
<div class="row" style="padding-bottom: 10px;">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-danger" ng-click="closeThisDialog('DeleteOEE')"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete OEE History</button>
    </div>
</div>
<div ng-if="controls" style="margin-top: 25px;">
    <div class="ngdialog-buttons mt">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm([targetCount,sampleRate])">Continue</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Abort</button>
    </div>
</div>