<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#/">
                HumanMachineInterface
            </a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-collapse" ng-controller="NavCtrl">
            <ul class="nav navbar-nav">
                <li angular-ripple ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
                <li angular-ripple ng-class="{ active: isActive('/robot')}"><a href="#robot">Robot</a></li>
                <li angular-ripple ng-class="{ active: isActive('/mobilerobot')}" class="dropdown" ><a href="#mobilerobot">Mobile Robot</a></li>
                <!--<li ng-class="{ active: isActive('/mobilerobot') || isActive('/mobilerobotoperation')}" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" data-aria-expanded="false">Mobile Robot</a>
                    <ul class="dropdown-menu redrop drp1x">
                            <li><a href="#mobilerobot">Control Center</a></li>
                            <li><a href="#mobilerobotoperation">Operation Mode</a></li>
                    </ul>
                </li>-->
                <li angular-ripple ng-class="{ active: isActive('/uas')}" class="dropdown" ><a href="#uas">UAS</a></li>

                <!--<li><a href="" class="account-wind dt-btn" data-toggle="dropdown" role="button" aria-haspopup="true" data-aria-expanded="false"><img src="http://image.flaticon.com/icons/svg/147/147285.svg" alt="" class="pimg">User <span></span></a>
                    <ul class="dropdown-menu redrop drp1x">
                            <li><a href="#profile">Profile</a></li>
                            <li><a href="" ng-click="">Log out</a></li>
                    </ul>
                </li>-->
                <li><a href="" class="account-wind dt-btn" data-toggle="dropdown" role="button" aria-haspopup="true" data-aria-expanded="false"><img src="img/user.svg" alt="" class="pimg">User <span></span></a>
                    <ul class="dropdown-menu redrop drp1x">
                            <li><a href="#profile">Profile</a></li>
                            <li><a href="" ng-click="">Log out</a></li>
                    </ul>
                </li>
                <li angular-ripple ng-show="isAndroid" ng-click="fullscreen()"><a><i class="fa fa-arrows-alt" aria-hidden="true"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>