
[angular-ripple] {
    position: relative;
    overflow: hidden;
    border: none;
    background: none;
}
.angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}
.angular-ripple.animate {
    -moz-animation: ripple 0.35s linear;
    -webkit-animation: ripple 0.35s linear;
    animation: ripple 0.35s linear;
}
@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

.btn.btn-ripple {
    -webkit-user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 2em 3em;
    border-radius: 2px;
    background-color: #bafdd0;
    color: rgba(0,0,0,0.75);
}