/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2016, 11:34:17 AM
    Author     : nicolai
*/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

nav.navbar-default {
    padding: 15px 0px;
    background-color: #fff;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #eee;
}

.navbar-default .navbar-header .navbar-brand{
    font-weight: 500;
    color: #333;
}

.navbar-brand>img{
    width: 80px;
    margin-top: -10px;
}

.navbar-nav > li > a {
    border: 0;
    font-size: 14px;
}

.navbar-nav > li{
    background-color: transparent;
    margin-right: 15px;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}

.navbar-nav > li > a:focus {
    background-color: #fff;
}

.navbar-default .navbar-collapse .navbar-nav > li.active a{
    background-color: transparent;
    color: #111;
}

/*.navbar-nav > li.dropdown  > a:hover{
    border: 0;
}

.navbar-nav > li.dropdown  > a:focus{
    border: 0;
}

.navbar-nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #fff;
    border-color: #eee;
    border-bottom-width: 0;
    position: relative;
    z-index: 99999;
}*/

.drp3x {
    min-width: 550px;
}
.drp2x {
    min-width: 300px;
}
.drp1x {
    min-width: 170px;
}
@media (max-width:1024px) {
    .drp3x {
        min-width: 170px;
    }
}
@media (max-width:768px) {
    .drp3x {
        min-width: inherit;
    }
    .drp2x {
        min-width: inherit;
    }
    .drp1x {
        min-width: inherit;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #fcfcfc;
        border-radius: 0px;
        border-color: #eee;
        border-bottom-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
    }
}
.redrop {
    border-color: #eee;
    border-top-left-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 2px!important;
    margin-top: -1px!important;
    box-shadow: 0px 3px 9px #f2f2f2;
    padding: 15px 0px;
}
.redrop li {
    display: block;
    clear: both;
    font-weight: 100;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.redrop li > a {
    padding: 5px 10px;
    display: block;
    font-size: 14px;
}
.account-wind {
    margin-top: 4px;
    background-color: #fcfcfc;
    border-color: #eee!important;
    border-radius: 2px;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
@media (max-width:768px) {
    .account-wind {
        border-left-width: 0!important;
        border-right-width: 0!important;
        border-radius: 0;
    }
}
.pimg {
    margin-top: -4px;
    height: 22px;
    margin-right: 6px;
    display: inline-block;
}
.seperator-li {
    height: 30px;
    width: 1px;
    background-color: #eee;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 9px;
}
@media (max-width:768px) {
    .seperator-li {
        display: none!important;
    }
}

.dt-btn {
    transition: all 0.5s;
    cursor: pointer;
}

.dt-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dt-btn span:after {
    font-family: "FontAwesome";
    content: '\f078';
    position: absolute;
    opacity: 0;
    top: -15px;
    right: -10px;
    transition: 0.5s;
}

.dt-btn:hover span {
  padding-right: 25px;
}

.dt-btn:hover span:after {
  opacity: 1;
  right: 0;
}