/**
 * @lordfriend/nya-bootstrap-select v2.1.9
 * Copyright 2014 Nyasoft
 * Licensed under MIT license
 */
.nya-bs-select {
  /*width: 220px\9; IE8 and below*/
  width: 100%; /*original: 220px\0;*/
  /*IE9 and below*/
  padding: 0;
  margin: 0;
  
}
.nya-bs-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.nya-bs-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.nya-bs-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.nya-bs-select .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
}
.nya-bs-select .dropdown-toggle .filter-option,
.nya-bs-select .dropdown-toggle .special-title {
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.nya-bs-select .dropdown-toggle .filter-option {
  display: inline-block;
}
.nya-bs-select .dropdown-toggle .special-title {
  display: none;
}
.nya-bs-select .dropdown-toggle.show-special-title .filter-option {
  display: none;
}
.nya-bs-select .dropdown-toggle.show-special-title .special-title {
  display: inline-block;
}
.nya-bs-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.nya-bs-select.fit-width {
  width: auto !important;
}
.nya-bs-select.btn-group:not(.input-group-btn),
.nya-bs-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.nya-bs-select.btn-group.dropdown-menu-right,
.nya-bs-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .nya-bs-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.nya-bs-select.btn-group[class*="col-"] .btn {
  width: 100%;
}
.nya-bs-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 1035;
  box-sizing: border-box;
}
.nya-bs-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  max-height: 240px;
  overflow-y: scroll;
}
.nya-bs-select.btn-group .dropdown-menu li {
  position: relative;
}
.nya-bs-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.nya-bs-select.btn-group .dropdown-menu li.not-match {
  display: none;
}
.nya-bs-select.btn-group .dropdown-menu li.no-search-result {
  display: none;
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
}
.nya-bs-select.btn-group .dropdown-menu li.no-search-result.show {
  display: list-item;
}
.nya-bs-select.btn-group .dropdown-menu li.group-item a {
  padding-left: 2.25em;
}
.nya-bs-select.btn-group .dropdown-menu li a {
  cursor: pointer;
}
.nya-bs-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.nya-bs-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.nya-bs-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.nya-bs-select.btn-group .dropdown-menu li.selected a .check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.nya-bs-select.btn-group .dropdown-menu li a span.text {
  margin-right: 34px;
}
.nya-bs-select.btn-group .dropdown-menu li .dropdown-header {
  display: none;
}
.nya-bs-select.btn-group .dropdown-menu li.first-in-group {
  margin-top: 1.75em;
}
.nya-bs-select.btn-group .dropdown-menu li.first-in-group .dropdown-header {
  display: block;
  position: absolute;
  top: -1.75em;
  left: 0;
}
.nya-bs-select.show-menu-arrow.open > .btn {
  z-index: 1036;
}
.nya-bs-select.show-menu-arrow .dropdown-toggle:before {
  content: " ";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.nya-bs-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.nya-bs-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-bottom: 0;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: rgba(204, 204, 204, 0.2);
}
.nya-bs-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.nya-bs-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.nya-bs-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.nya-bs-select.show-menu-arrow.open > .dropdown-toggle:before,
.nya-bs-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.nya-bs-select .bs-searchbox,
.nya-bs-select .bs-actionsbox,
.nya-bs-select .bs-filterbox{
  padding: 4px 8px;
}
.nya-bs-select .bs-actionsbox,
-nya-bs-select .bs-filterbox{
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.nya-bs-select .bs-actionsbox .btn-group button {
  width: 50%;
}
.nya-bs-select .bs-filterbox .btn-group{
    padding: 0;
    margin: 0 0 -13px 0;
    width: 50%;
}
.nya-bs-select .bs-filterbox .btn-group button {
    width: 50%;
}

.nya-bs-select .bs-searchbox + .bs-actionsbox + .bs-filterbox{
  padding: 0 8px 4px;
}
.nya-bs-select .bs-searchbox input.form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
  z-index: inherit;
  display: block;
  position: static;
  border-radius: 4px;
}
.nya-bs-select.fit-width .btn .filter-option,
.nya-bs-select.fit-width .btn .special-title {
  position: static;
}
.nya-bs-select.fit-width .btn .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.nya-bs-select.on-modal .dropdown-menu {
  z-index: 1040;
}
.nya-bs-select.on-modal.open > .btn {
  z-index: 1041;
}
