<div class="container-fluid widget-container" ng-controller="MROperationCtrl">
    <div class="row">
        <div class="col-md-6 col-lg-6 widget">
            <div class="widget-inner" style="min-height: 650px; max-height: 650px;">
                <div id="map">
                    <h3>Map</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 widget">
            <div class="row">
                <div class="col-md-12">
                        <div class="widget-inner" style="min-height: 315px; max-height: 315px;">
                            <h3>Robot State</h3>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-inner" style="min-height: 315px; max-height: 315px;">
                        <h3>Log</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>