
<div class="container-fluid widget-container" ng-controller="RCCtrl">
    <div class="row">
        <div class="col-md-6 col-lg-6 widget">
            <div class="widget-inner" style="min-height: 550px; max-height: 550px;">
                <h3>Robot Jog Controls</h3>
                <div ng-repeat="(key,joint) in robot.joints">
                    <div class="row" style="padding-top: 25px;">
                        <div class="col-sm-3" style="line-height: 28px;">{{joint.name}}</div>
                        <div class="col-sm-9">
                            <button class="btn btn-info" ng-mousedown="jog('Down', key)" ng-mouseup="mouseUp()" ng-mouseleave='mouseUp()' style="display:table-cell; float: left; margin: 0 5px 0 0;" >
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </button>
                            <div class="range range-info" style="float: left; width:70%;">
                                <input type="range" name="range" min="{{joint.min}}" max="{{joint.max}}" ng-model="robot.q[key]" step="0.01" readonly="readonly">
                                <output id="range" ng-model="robot.q[key]"><span ng-bind="robot.q[key]"></span></output>
                            </div>
                            <button class="btn btn-info" ng-mousedown="jog('Up', key)" ng-mouseup="mouseUp()" ng-mouseleave='mouseUp()' style="display:table-cell; float: left; margin: 0 0 0 5px;">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm-3" style="line-height: 28px;">
                            Speed: 
                        </div>
                        <div class="col-sm-6" >
                            <ol class="nya-bs-select"
                                ng-model="robot.speed">
                                <li nya-bs-option="speed in robot.allSpeeds">
                                    <a>
                                        {{speed.title}}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 widget">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-inner" style="min-height: 265px; max-height: 265px;">
                        <h3>Gripper Controls</h3>
                        <button class="btn btn-default {{gripper.open ? 'disabled' : ''}}" ng-click="gripperControls('open')">Open</button>
                        <button class="btn btn-default {{gripper.open ? '' : 'disabled'}}" ng-click="gripperControls('close')">Close</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-inner" style="min-height: 265px; max-height: 265px;">
                        <h3>Conveyor Belt Controls</h3>
                        <div class="row">
                            <div class="col-sm-3" style="padding: 25px 0 0 0;">
                                Speed: 
                            </div>
                            <div class="col-sm-6" style="padding:16px 0 0 0;">
                                <ol class="nya-bs-select"
                                    ng-model="PLC.speed"
                                    ng-change ="updatePLCSpeed()">
                                    <li nya-bs-option="speed in PLC.allSpeeds">
                                        <a>
                                            {{speed.title}}
                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
